.nav-dlink{
    color: #FFFFFF;
}
.nav-dlink:hover, .nav-dlink:focus{
    color: #FFFFFF;
    font-weight: bolder;
}
.scrolled{
    background-color: #000;
}
main{
    margin-top: 70px;
    background-color: #FFFFFF;
}
body{
    background-color: #FFFFFF;
}
footer{
    background-color: #FFFFFF;
}
.section-title{
    color: #FFFFFF;
}
.section-title p{
    text-align: justify;
}
.card-header{
    background-color: #3c3a4f;
    color: #FFFFFF;
}
.check-block{
    padding-bottom: 10px;
}
