.bgcolor-a{background-color: #0055A5;}
.bgcolor-b{background-color: #FFFFFF;}
.bgcolor-c{background-color: #DDDDDD;}
.border-round{
border-radius: 10px;
-webkit-border-radius: 10px;
border: 10px;
   box-shadow: 0 1px 5px #7d7a7d, inset 0 10px 20px #c7c6c6;
   -o-box-shadow: 0 1px 5px #7d7a7d, inset 0 10px 20px #c7c6c6;
   -webkit-box-shadow: 0 1px 5px #7d7a7d, inset 0 10px 20px #c7c6c6;
   -moz-box-shadow: 0 1px 5px #7d7a7d, inset 0 10px 20px #c7c6c6;
}
.shadow{
 -moz-box-shadow: 10px 10px 5px #333333;
 box-shadow: 10px 10px 5px #333333;    
}
.sharperGlow {
    text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}
.ani-rotate1{
-webkit-transition: all 1.0s ease;
-moz-transition: all 1.0s ease;
-o-transition: all 1.0s ease;
transition: all 1.0s ease;
}
.ani-rotate2{
-moz-transform: scale(2) rotate(360deg)  translate(-70px,100px);
-webkit-transform: scale(1.2) rotate(360deg)  translate(-70px,100px);
-o-transform: scale(2) rotate(360deg)  translate(-70px,100px);
transform: scale(2) rotate(360deg)  translate(-70px,100px);    
}
.ani-rotate1:hover{
-moz-transform: scale(2) rotate(360deg) ;
-webkit-transform: scale(1.2) rotate(360deg) ;
-o-transform: scale(2) rotate(360deg) ;
transform: scale(2) rotate(360deg) ;         
}

.panel{
border-radius: 10px;
-webkit-border-radius: 10px;
}
.round-edge{
padding: 0px 5px 5px 15px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.cursor-hand{
    cursor: pointer;
}
/* start pagination,forms css */
.pag{
    font-family: "Arial";
}
.pfloat-left{
    float: left;
        width: 30px;
        background-color: #999999;
        text-align: center;
        border-right-color: #333333;
        border-right-style: solid;
        border-right-width: 1px;        
        	color: #000000;

}
.pfloat-left a {
	color: #FFFFFF;
	font-size:14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.pagtable{
    width:100%;
    border:0px;
    border-spacing:0px;

}
.paglabel{

    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    height: 30px;
    width: 200px;
	vertical-align:top;
}
.pagfield{
    background-color: #FFFFFF;
    text-align: left;
    }
.pagbar{
    color: #000;
    font-family: "Arial";
}
.pagnums{
float:left;
width:80%;
}
.pagnums div{
    color: orange;
    text-align: center;
    background-color: #666666;
    width: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
}
.pagnums a{
    color: white;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}
.pagnums a:hover{
    color: orange;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}
.pagprevnext{
float:left;
width:20%;
}
.pagprev{
    font-family: "Arial";
font-weight: bold;
font-size: 12px;
background-color: #cccccc;
border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
}
.pagprev:hover{
background-color: #dddddd;
    border-top-color: #dddddd;
    border-bottom-color: #dddddd;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
}
.pagnext{
    font-family: "Arial";
font-weight: bold;
font-size: 12px;
background-color: #cccccc;
border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
    border-left-color: #cccccc;
    border-right-color: #cccccc;
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
}
.pagnext:hover{
background-color: #dddddd;
    border-top-color: #dddddd;
    border-bottom-color: #dddddd;
    border-left-color: #dddddd;
    border-right-color: #dddddd;
    }

.pagrow1{
    color:#000000;
    border-color:#999999;
    background:#FFFFFF;
    font-family: "Arial";
    font-size: 12px;
    text-decoration: none;
    vertical-align: text-top;
    text-align: left;
}
.pagrow2{
    color: #000000;
    border-color:#999999;
    background:#cccccc;
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    vertical-align: text-top;
    text-align: left;
    padding-left: 10px;
}
.pagrow1 td{
    height: 70px;   
    vertical-align: middle;
    padding-left: 10px;
}
.pagrow2 td{
    height: 50px;    
    vertical-align: middle;
    padding-left: 10px;
}
.paghead{
    color:#FFFFFF;
    border-color:#999999;
    text-align: left;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    background-color: #4184BE;
    padding-left: 10px;
}
.paghead th{
    padding-left: 10px;
}
.pagfooter{
    color:#FFFFFF;
    border-color:#999999;
    background:#4184BE;
    text-align: center;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
}
/* end pagination css */
.blink{
 -webkit-animation-name: blinker;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

 color: red;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
.frame
{
border:1px solid #DDDDDD;
overflow:auto;
position:relative;
width:500px;
height:400px;
}
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.valign-top { vertical-align:top; }
.valign-middle { vertical-align:middle; }
.clear { clear: both; }
.padding-left{padding-left:20px;}
.padding-right{padding-right:20px;}
.padding-top{padding-top:20px;}
.padding-bottom{padding-bottom:20px;}
.margin-left{margin-left:20px;}
.margin-right{margin-right:20px;}
.margin-top{margin-top:20px;}
.margin-bottom{margin-bottom:20px;}
.border{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: #1F4C75;
    border-bottom-color: #1F4C75;
    border-left-color: #1F4C75;
    border-right-color: #1F4C75;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}
.footer{
color: #666666;
}
.footer a{
color: #666666;
}
.footer a:visited{
color: #666666;
}
.footer a:hover{
color: #666666;
}
.footer ul{
list-style: none;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.minpadding {
  padding-right:3px;
  padding-left:3px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.border-none{
    border: 0px none;
}
.border-none > tbody > tr > td,
.border-none > tbody > tr > th,
.border-none > tfoot > tr > td,
.border-none > tfoot > tr > th,
.border-none > thead > tr > td,
.border-none > thead > tr > th {
    border: none;
}
.scrollbar {
    overflow-style: scrollbar;
    overflow: scroll;
}
.margin-col [class*="col-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}